<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Grid Template ยท Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/grid/grid.css" rel="stylesheet">
  </head>
  
<body class="py-4">
<div class="container">

  <h1><center>SIPOC</center></h1>
  <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
  <p>In these examples the <code>.themed-grid-col</code> class is added to the columns to add some theming. This is not a class that is available in Bootstrap by default.</p>

  <h2 class="mt-4">Five grid tiers</h2>
  <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

    <!-- TITLE FOR EACH OF THE TOOLS -->
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
          <div class="col font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>S</h3></div>
          <div class="col font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>I</h3></div>
          <div class="col  font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>Process Req.</h3></div>
          <div class="col  font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>P</h3></div>
          <div class="col font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>O</h3></div>
          <div class="col  font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>Customer Req.</h3></div>
          <div class="col font-weight-bold text-center themed-grid-col bg-white mr-2"><h3>C</h3></div>
        </div>

        <div class="row mb-5">
          <tr>
            <div class="col text-center mr-2 themed-grid-col bg-primary text-white"><img style="height:75px" style="width:75px" <%= image_tag "supplier.png"%></div>
            <div class="col text-center mr-2 themed-grid-col bg-danger text-white"><img style="height:75px" style="width:75px" <%= image_tag "input.png"%></div>
            <div class="col text-center mr-2 themed-grid-col bg-light text-white"><img style="height:75px" style="width:75px" <%= image_tag "pros_cust.png"%></div>
            <div class="col text-center mr-2 themed-grid-col bg-secondary text-white"><img style="height:75px" style="width:75px" <%= image_tag "process.png"%></div>
            <div class="col text-center mr-2 themed-grid-col bg-success text-white"><img style="height:75px" style="width:75px" <%= image_tag "output.png"%></div>
            <div class="col text-center mr-2 themed-grid-col bg-light text-white"><img style="height:75px" style="width:75px" <%= image_tag "pros_cust.png"%></div>
            <div class="col
             text-center themed-grid-col bg-warning text-white"><center><img style="height:75px" style="width:75px" <%= image_tag "customer.png"%></center></div>
          </tr>
        </div>

        <div class="row mb-3">
            <div class="col mr-2 themed-grid-col font-weight-bold text-primary"><center>Supplier 1</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-danger"><center>Input 1</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Process Requirement 1</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-secondary"><center>Process 1</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-success"><center>Output 1</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Customer Requirement 1</center></div>
            <div class="col themed-grid-col font-weight-bold text-warning"><center>Customer 1</center></div>
        </div>

        <div class="row mb-3">
            <div class="col mr-2 themed-grid-col font-weight-bold text-primary"><center>Supplier 2</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-danger"><center>Input 2</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Process Requirement 2</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-secondary"><center>Process 2</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-success"><center>Output 2</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Customer Requirement 2</center></div>
            <div class="col themed-grid-col font-weight-bold text-warning"><center>Customer 2</center></div>
        </div>

        <div class="row mb-3">
            <div class="col mr-2 themed-grid-col font-weight-bold text-primary"><center>Supplier 3</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-danger"><center>Input 3</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Process Requirement 3</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-secondary"><center>Process 3</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-success"><center>Output 3</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Customer Requirement 3</center></div>
            <div class="col themed-grid-col font-weight-bold text-warning"><center>Customer 3</center></div>
        </div>

        <div class="row mb-3">
            <div class="col mr-2 themed-grid-col font-weight-bold text-primary"><center>Supplier 4</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-danger"><center>Input 4</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Process Requirement 4</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-secondary"><center>Process 4</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-success"><center>Output 4</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Customer Requirement 4</center></div>
            <div class="col themed-grid-col font-weight-bold text-warning"><center>Customer 4</center></div>
        </div>

        <div class="row mb-3">
            <div class="col mr-2 themed-grid-col font-weight-bold text-primary"><center>Supplier 5</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-danger"><center>Input 5</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Process Requirement 5</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-secondary"><center>Process 5</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold text-success"><center>Output 5</center></div>
            <div class="col mr-2 themed-grid-col font-weight-bold"><center>Customer Requirement 5</center></div>
            <div class="col themed-grid-col font-weight-bold text-warning"><center>Customer 5</center></div>
        </div>
      </div>
    </div>

    <br>
    <center>
    <a href="sipocs/new" class="text-white"><button class="btn btn-primary btn-md">New</button></a>
    </center>
    

</div> <!-- /container -->
</body>
</html>