
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Profile</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/grid/">
    <%= stylesheet_link_tag "RaulCSS.css"%>
    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/grid/grid.css" rel="stylesheet">
  </head>
  <body class="py-4" id="background">
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/dashboard">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
        </a>
      </div>
    </nav>
    <div class="container">













<h1> My Files </h1>
<hr/>

      <% @vsm.each do |vsm| %>
      <div class="row">
        <div class="col">
          <section>

          </section>
        </div>

        <div class="col"> 
          <h4><%= link_to vsm.file_name, show_vsm_path(vsm) %></h4>
          <p>
            <span class='quiet'>
            <small><%= time_ago_in_words(vsm.created_at)%> ago</small>
            </span>
          </p>
        </div>
      </div>
    </div>

      <% end %>

      <% @sipoc.each do |sipoc| %>
      <div class="row">
        <div class="col">
          <section>

          </section>
        </div>
        <div class="col"> 
          <h4><%= link_to sipoc.file_name, show_sipoc_path(sipoc) %></h4>
          <p>
            <span class='quiet'>
              <small><%= time_ago_in_words(sipoc.created_at)%> ago</small>
            </span>
          </p>
        </div>
      </div>
    </div>

      <% end %>




























</div> <!-- /container -->
</body>
</html>
